{% extends "app/layouts/base_form.html" %}

{% block head_title %}
Update Article
{% endblock head_title %}

{% block article_stats %}
<p class="text-center">{{ articles.word_count }} word{{ articles.word_count | pluralize }}</p>
<p>Last updated on <span class="font-bold"> {{ articles.updated_at | date:"jS F Y" }}</span></p>
{% endblock article_stats  %}

{% block buttons %}
<div class="flex justify-end gap-4">
<a class="button danger" href="{% url 'delete_article' pk=articles.id %}"> Delete Article</a>
<button class="button primary" type="submit">Save</button>
</div>
{% endblock buttons %}

